<div class="row">
  <div class="large-8 columns push-2">
    <div id="vt100"></div>
    <form id="form">
      <input type="text" id="input" value="send a message"></input>
    </form>
    <div id="msgs"></div>
  </div>
</div>

<script type="text/javascript">
  window.onload = function(){
    (function() {
       var show = function(el) {
         return function(msg){ el.innerHTML = msg + '<br />' + el.innerHTML; }
       }(document.getElementById('msgs'));

       var ws       = new WebSocket('ws://' + window.location.host + '/shells');

       ws.onopen    = function()  { show('websocket opened'); };
       ws.onclose   = function()  { show('websocket closed'); }
       ws.onmessage = function(m) { show('websocket message: ' +  m.data); };

       var sender = function(f){
         var input     = document.getElementById('input');
         input.onclick = function(){ input.value = "" };
         f.onsubmit    = function(){
           ws.send(input.value);
           input.value = "send a message";
           return false;
         }
       }(document.getElementById('form'));
    })();
  }
</script>
