<div class="row">
  <div class="large-8 columns push-2">
    <pre id="vt100"></pre>
    <form id="form">
      <input type="text" id="input"/>
    </form>
    <div id="msgs"></div>
  </div>
</div>

<script type="text/javascript">
  window.onload = function(){
    (function() {
      var console_write = function(msg) {
        var el = $('#vt100')[0];
        el.innerHTML = el.innerHTML + msg;
      };

      var ws       = new WebSocket('ws://' + window.location.host + '/shells');

      ws.onopen    = function()  { console.log('Websocket opened'); };
      ws.onclose   = function()  { console.log('Websocket closed'); }
      ws.onmessage = function(m) { console_write(m.data); };

      var sender = function(f){
        var input     = document.getElementById('input');
        f.onsubmit    = function(){
          ws.send(input.value);
          input.value = "";
          return false;
        }
      }(document.getElementById('form'));
    })();
  }
</script>
